*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B2BEB5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
