@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

:root {
    --clr-primary: #FFFFFF;
    --clr-secondary: #950606;
    --clr-secondary-hover: #7a0000;
    --clr-extra: #6c747e;
    --clr-black: #000000;
}

html {
    font-size: 1em;
    color: var(--clr-primary);
}

body {
    background-color: #101727;

}

.mt-30px {
    margin-top: 30px;
}


.error-message {
    color: var(--clr-secondary);
}



/* ============== MAIN HEADER (START) ===================== */

.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.main-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
}

.main-header nav .logo {
    text-decoration: none;
}

.main-header nav .logo:hover h2 {
    color: var(--clr-secondary);
}

.main-header nav .logo h2 {
    font-size: clamp(20px, 2.3vw, 25px);
    color: var(--clr-primary);
    transition: color 0.3s;
}

.main-header nav ul.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.main-header nav ul.nav-list li {
    list-style-type: none;
}


.main-header nav ul.nav-list li a {
    text-decoration: none;
    color: var(--clr-primary);
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
}

.main-header nav ul.nav-list li a.active {
    color: var(--clr-secondary);
    text-decoration: underline;
}

.main-header nav ul.nav-list li a:hover {
    color: var(--clr-secondary);
    text-decoration: underline;
}

.main-header nav .toggle-menu {
    display: none;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}

.main-header nav .toggle-menu div{
    background-color: var(--clr-primary);
    height: 1px;
    width: 20px;
}

.main-header nav .mobile-nav-list {
    display: none;
}


.main-header nav .mobile-nav-list.active {
    position: absolute;
    top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    right: 20px;
    padding:  50px;
    background-color: var(--clr-primary);
}

.main-header nav .mobile-nav-list.active li {
    list-style-type: none;
}

.main-header nav .mobile-nav-list.active li a {
    color: var(--clr-black);
    text-decoration: none;
}

.main-header nav .mobile-nav-list.active li a:hover {
    color: var(--clr-secondary);
}

.main-header nav .mobile-nav-list.active li a.active {
    color: var(--clr-secondary);
}


/* ============== MAIN HEADER (END) ===================== */

/* ============== HERO SECTION (START) ===================== */
.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 88vh;
    padding: 0px 50px;
}


.hero-section h2 {
    font-size: clamp(25px, 2.3vw, 50px);
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
}

.hero-section p {
    text-align: center;
}

/* ============== HERO SECTION (END) ===================== */
/* ============== FOOTER (START) ===================== */
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    border-top: 1px solid var(--clr-extra);

}


.footer h4 {
    font-size: 0.75em;
}


/* ============== FOOTER (END) ===================== */

/* ============== TABLE (START) ===================== */

.table-wrapper {
    width: 70%;
    overflow-x: auto;
    margin-bottom: 20px;
    border: 1px solid var(--clr-extra);
    border-radius: 4px;
    margin-top: 30px;
}

.table-wrapper .table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    min-width: 600px;
}

.table-wrapper .table thead tr {
    border-bottom: 1px solid var(--clr-extra);
}

.table-wrapper .table td a {
    color: var(--clr-primary);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}
.table-wrapper .table td a:hover {
    color: var(--clr-secondary);
}

.table-wrapper .table td.span-count {
    text-align: center;
}

.table-wrapper .table th,
.table-wrapper .table td {
    text-align: left;
    padding: 12px;
    white-space: nowrap;
}

.table-wrapper .table tr:nth-child(even) {
    background-color: var(--clr-extra);
}



.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
    transition: background-color 0.2s;
}

.pagination li a:hover {
    background-color: var(--clr-secondary);
}

.pagination li.active span {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-color: var(--clr-secondary);
}

.pagination li.disabled span {
    color: #ccc;
    pointer-events: none;
    cursor: disabled;
}
.table-heading-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

 .btn-outline {
    padding:10px 12px;
    border-radius: 3px;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    transition: background-color 0.3s;
    text-decoration: none;
}

 .btn-outline:hover {
    background-color: var(--clr-secondary-hover);
}



/* ============== TABLE (END) ===================== */



@media only screen and (max-width: 480px) {

}


@media only screen and (max-width: 768px) {

    .main-header,  .hero-section {
        padding: 0px 20px;
    }

    .main-header nav .mobile-nav-list.active {
        padding: 20px;
    }
    .main-header nav .toggle-menu {
        display: flex;
    }

    .main-header nav ul.nav-list {
        display: none;
    }

    .table-wrapper, .table-heading-actions   {
        width: 100%;
    }




}



@media only screen and (max-width: 992px) {

    .table-wrapper  {
        width: 95%;
    }

    .table-heading-actions {
        align-items: center;
        justify-content: center;
    }

    .pagination {
        justify-content: space-between;
    }

}


@media only screen and (max-width: 1280px) {

}
